
nav{
    background-color:#2C3E50;
}

.navbar-brand{
    font-size: 26px !important;
    font-weight: 700;
}


.nav-link{
    font-size: 16px !important;
    font-weight: 700 !important;
    color: white !important;
}

.active{
    background-color: #1ABC9C !important;
}
